<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Search Results</title>
  <link rel="stylesheet" href="../normalize.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="../skeleton.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="../main.css" media="screen" charset="utf-8">
</head>
<body>
  {{#each books}}
<div class="border">
    <h2>{{title}}</h2>
    <h5>Genre: {{genre}}</h5>
      <img class ="imagesize" src="../{{cover_art}}" alt="" />
    <p>
      {{synopsis}}
    </p>
    <a href="{{title}}"> More info...</a>
  </div> <br>
  {{/each}}
</body>
</html>
