<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Search Results</title>
  <link rel="stylesheet" href="../normalize.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="../skeleton.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="../main.css" media="screen" charset="utf-8">
</head>
<body>
  {{#each books}}
  <div class="">
    <h2>{{title}}</h2>
    <p>Genre: {{genre}}</p>
    <img src="../{{cover_art}}" alt="" />
    <p>
      {{synopsis}}
    </p>
    <a class = "moreinfo" href="https://www.goodreads.com/search?q={{title}}">More info ...</a>
  </div> <br>
  {{/each}}
  <a class = "footer" href="https://www.goodreads.com/genres/{{genre}}">Find more books in this genre</a>
  <br>
  <br>
  <div class="">

  </div>
</body>
</html>
